---
import ImgComp from "../base/ImgComp.astro";
import WebsiteSetting from "@/features/websiteSetting.json";

const { title, ctaLabel, ctaLink } = Astro.props;
---

<div
  class="@container bs-container my-24 font-semibold text-bs-foreground-dark [&_a]:hover:text-bs-foreground-light [&_a]:transition-color [&_a]:duration-150"
  id="contact"
>
  <!-- Wrapper -->
  <div class="bg-bs-surface-2 p-6 md:p-16 rounded-xl grid md:grid-cols-2 gap-8">
    <!-- Left col -->
    <div
      class="w-max flex flex-col gap-8 md:gap-0 justify-between text-bs-foreground-light"
    >
      <!-- Logo -->
      <a class="flex group" href="#top" aria-label="Back to top">
        <ImgComp
          src={WebsiteSetting.websiteLogo2.src}
          class="group-hover:-rotate-180 group-hover:scale-80 transition-transform ease-bs-spring duration-1000"
          height="48"
          width="48"
        />
      </a>

      <!-- CTA title -->
      <h2 class="bs-h3">{title}</h2>

      <!-- CTA Button -->
      <a href={ctaLink} class="min-w-32 bs-btn block bg-bs-surface-3">
        {ctaLabel}
      </a>
    </div>

    <!-- Right col -->
    <div
      class="flex gap-10 md:gap-2 lg:gap-20 md:justify-end [&_a]:block md:[&_a]:px-5 [&_a]:py-2"
    >
      <!-- Nav -->
      <nav class="flex flex-col">
        {
          WebsiteSetting.NavbarInsertion.sort((a, b) =>
            a.label.localeCompare(b.label)
          ).map((item) => <a href={item.link}>{item.label}</a>)
        }
      </nav>

      <!-- Social links -->
      <nav class="flex flex-col">
        {
          WebsiteSetting.socialMedia
            .sort((a, b) => a.label.localeCompare(b.label))
            .map((item) => <a href={item.link}>{item.label}</a>)
        }
      </nav>
    </div>
  </div>
</div>
