---
import Check from "@/assets/icon-check.svg";
import Cube from "@/assets/icon-cube.svg";
import CubeOutline from "@/assets/icon-cube-outline.svg";

const { title, pricing } = Astro.props;

type Pricing = {
  title: string;
  tag: string;
  content: string;
  services: { item: string }[];
  price: string;
  cta: string;
};
---

<section class="bs-container bs-mt-lg" id="pricing">
  <!-- Header -->
  {title && <h2 class="bs-h2 text-center">{title}</h2>}

  <!-- pricing -->
  <div class="mt-8 grid lg:grid-cols-2 gap-8 lg:gap-0">
    <!-- Item -->

    {
      pricing.map((item: Pricing, index: number) => (
        <article
          class:list={[
            "@container p-6 xl:p-16 flex flex-col gap-6 h-full w-full rounded-xl overflow-hidden lg:scale-90 @xl:justify-end",
            index === 1
              ? "bg-white/90 text-black/90 lg:scale-none"
              : "bg-bs-surface-0/90",
          ]}
        >
          <div class="relative">
            <h2 class="bs-h3 flex gap-3 items-center">
              {index === 1 && <Cube height="32" width="32" />}
              {index !== 1 && <CubeOutline height="32" width="32" />}

              <span>{item.title}</span>

              <div
                class="text-xs uppercase tracking-widest font-semibold hidden sm:block ms-auto rounded-full px-4 py-2 pb-[0.4rem] border border-bs-foreground-dark/30"
                set:html={item.tag}
              />
            </h2>

            <div class="text-xl flex-grow mt-4 " set:html={item.content} />

            <ul role="list" class="flex flex-col gap-4 my-8">
              {item.services.map(({ item }) => (
                <li class="flex gap-2 md:gap-3 items-center">
                  <Check height="24" width="24" />

                  <span class="text-xl">{item}</span>
                </li>
              ))}
            </ul>

            <footer class="flex justify-between items-center gap-2">
              <span class="text-4xl lg:text-5xl">
                £{item.price}
                <span class="text-2xl hidden @md:inline-block -translate-y-1 ms-2">
                  {" "}
                  / month
                </span>
              </span>

              <button
                type="button"
                class="bs-btn inline-block self-start @4xl:mt-12 text-xl"
                onclick="demo.showModal()"
              >
                {item.cta}
              </button>
            </footer>
          </div>
        </article>
      ))
    }
  </div>
</section>
